* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: black;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.left-header,
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

.left-header {
  margin-left: 10%;
}

.right-header {
  margin-right: 10%;
}

.company-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 22px;
  width: 22px;
  border-radius: 8px;
  margin-right: 3px;
}

.company-logo-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  width: 65%;
}

.company,
.help-center {
  text-decoration: none;
  color: white;
}

button {
  text-wrap: nowrap;
}

.request-button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 12px;
}

.sign-in-button {
  background-color: #4C5FD5;
  border: 1px solid #4C5FD5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.search-container {
  background-color: #dadbf1;
  height: 20rem;
  width: 100%;
}

.text-and-search-bar {
  width: 50%;
  margin: auto;
}

.text-and-search-bar p {
  padding-top: 5rem;
  font-size: 3rem;
  text-align: center;
}

.search-bar input,
.search-bar button {
  padding: 16px 8px;
  border: 1px solid rgba(108, 108, 108, 0.5);
  height: 3rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.search-bar input[type="text"] {
  width: 100%;
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
}

.search-bar input[type="submit"] {
  background-color: white;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

input:focus {
  outline: none;
}

::placeholder {
  color: rgba(108, 108, 108, 0.5);
}

main {
  display: grid;
  grid-template-columns: 35% 35%;
  column-gap: 2rem;
  row-gap: 4rem;
  justify-content: center;
  padding: 100px 0;
}

.sub-container {
  display: flex;
}

.sub-container img{
  height: auto; 
  width: auto; 
  max-width: 60px; 
  max-height: 60px;
  margin-right: 1rem;
}

.sub-container div div {
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-container div p {
  line-height: 1.4rem;
  margin-bottom: 10px;
}

.sub-container div a {
  color: #4C5FD5;
  text-decoration: none;
  font-size: 0.85rem;
}

footer {
  background-color: black;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.column {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.column-header {
  font-weight: bold;
  margin-bottom: 1rem;
}

.column a {
  color: white;
  text-decoration: none;
}

.column-item {
  font-size: 0.8rem;
}

.contact-us {
  margin-top: 3rem;
}

.copyright {
  margin-top: 8.5rem;
  font-size: 0.9rem;
}

.footer-logo-container {
  margin-bottom: 1rem;
}